<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../public/canvas.css">
    <title></title>
  </head>
  <body>
    <h1>Drawing Board</h1>

    <section class="element">
      <button onclick="getElementById('elementButton').innerHTML = " type="button" name="button">C</button>
      <button type="button" name="button">H</button>
      <button type="button" name="button">N</button>
      <button type="button" name="button">O</button>
      <button type="button" name="button">P</button>
      <button type="button" name="button">S</button>
      <button type="button" name="button">F</button>
      <button type="button" name="button">Cl</button>
      <button type="button" name="button">Br</button>
      <button type="button" name="button">I</button>
    </section>

    <section class="shape">
      <button type="button" name="button">shape</button>
      <button type="button" name="button">shape</button>
      <button type="button" name="button">shape</button>
      <button type="button" name="button">shape</button>
      <button type="button" name="button">shape</button>
      <button type="button" name="button">shape</button>
      <button type="button" name="button">shape</button>
      <button type="button" name="button">shape</button>
      <button type="button" name="button">shape</button>
      <button type="button" name="button">shape</button>
      <button type="button" name="button">shape</button>
      <button type="button" name="button">shape</button>
      <button type="button" name="button">shape</button>
      <button type="button" name="button">shape</button>
    </section>

    <section class="toolBar">
      <button type="button" name="button">delete</button>
      <button type="button" name="button">eraser</button>
      <button type="button" name="button">undo</button>
      <button type="button" name="button">redo</button>
      <button type="button" name="button">direction</button>
    </section>


    <canvas id="canvas" width="1000" height="600"></canvas>

    <!-- use svg to draw a shape. and how to create the shape, using svg for that would be good
    tool bar buttons with a piece of text / image/ onclick event  -->

    <!-- one function that draw and other functions that specify the coordinates / position of points of it  -->


    <script type="text/javascript"></script>
  </body>
</html>
