<!doctype html>
<html>
<head>
  <title>Demo Day Project</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
      <h1><span><img src="/img/Bitmap.png" alt=""></span>React</h1>
      <h2>A QUICK & EASY SOLUTION TO</h2>
      <h2>DRAW CHEMICAL REACTIONS</h2>
      <p>
        <a href="/login" id="landingPageLogin" class="btn btn-default"><span class="fa fa-sign-in-alt"></span>Login</a>
        <a href="/signup" id="landingPageSignUp" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
      </p>
    </div>
  </div>
</body>
</html>
