body{
  background-image: linear-gradient(#074ca5, #03256c);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
}

h1{
  text-align: center;
  padding-top: 14%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 40px;
}

h1 span{
  margin-right: 20px;
}

h2{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}

p{
  text-align: center;
  margin-top: 20px;
}

#landingPageLogin{
  background-color: transparent;
  color: white;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  height: 77px;
  width: 190px;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  font-size: 30px;
  text-align: center;
}

#landingPageSignUp{
  height: 77px;
  width: 222px;
  border-radius: 20px;
  background-color: #E6E6E6;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  color: #03256C;
  margin-left: 20px;
  text-align: center;
}
